Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
*.pc
*.lo
*.la
*.o
*.m4
.libs
.deps
tests/ts_calibrate
tests/ts_harvest
tests/ts_print
tests/ts_print_raw
tests/ts_test

