Makefile
autom4te.cache
config.h
config.log
config.status
libtool
mkinstalldirs
stamp-h
stamp-h.in
stamp-h1
*.pc
*.lo
*.la
*.o
*.m4
!aclocal.m4
.libs
.deps
tests/ts_calibrate
tests/ts_harvest
tests/ts_print
tests/ts_print_raw
tests/ts_test
tests/ts_finddev
compile

